
body {
    min-height: 100vh;
}

header, form {
font-size: 1.5rem;
display: flex;
justify-content: center;
align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background:aqua;
} 

form button {
    color: red;
    background: aqua;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    background: aqua;
color: aqua;
}

.todo-container {
    display:  flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    background: aqua;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn, .edit-btn {
   background: red;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: green;
}

.edit-btn {
    background: blue;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
